{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="account">
    <div class="form-wrapper">
        <form method="post" action=".">
            {% if form.errors %}
                {% include "users/partials/errors.html" %}
            {% endif %}
            {% csrf_token %}
            {% for field in form %}
                {% include "users/partials/field.html" %}
            {% endfor %}
            <div class="button-wrapper submit">
                <input class="btn btn-green" type="submit" value="{% trans '登录' %}" />
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
            <p style="text-align: center;margin: 10px 0;"><a href="{% url 'users_password_reset' %}">{% trans "忘记密码" %}</a> | <a href="{% url 'users_register' %}">{% trans "注册新用户" %}</a></p>
        </form>
    </div>
</div>
{% endblock %}
