{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if validlink %}
<div class="account">
    <div class="form-wrapper">
        <form method="post" action=".">
            {% if form.errors %}
                {% include "users/partials/errors.html" %}
            {% endif %}
            {% csrf_token %}
            {% for field in form %}
                {% include "users/partials/field.html" %}
            {% endfor %}
            <div class="button-wrapper submit">
                <input class="btn btn-green" type="submit" value="{% trans '提交' %}" />
            </div>
        </form>
    </div>
</div>
{% else %}
    <p>{% trans "Password reset failed" %}</p>
{% endif %}
{% endblock %}
