{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="account">
    <div class="form-wrapper">
        <form method="post" action=".">
            {% csrf_token %}
            <div class="field-wrapper">
                <label>电子邮件：</label>
                <input type="text" value="{{ user.email }}" disabled />
            </div>
            <div class="field-wrapper">
                <label>姓名：</label>
                <input type="text" name="nickname" value="{{ user.nickname | default:'待补充' }}">
            </div>
            <div class="field-wrapper">
                <label>电话：</label>
                <input type="text" name="phone" value="{{ user.phone | default:'待补充' }}">
            </div>
            <div class="radio-wrapper">
                <div class="radio-name">性别：</div>
                {% if user.gender == 'M' %}
                    <label><input name="gender" type="radio" value="M" checked /> 男</label>
                    <label><input name="gender" type="radio" value="F" /> 女</label>
                {% else %}
                    <label><input name="gender" type="radio" value="M" /> 男</label>
                    <label><input name="gender" type="radio" value="F" checked /> 女</label>
                {% endif %}
            </div>
            <div class="button-wrapper submit">
                <input class="btn btn-green" type="submit" value="{% trans '修改档案' %}" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
