{% extends 'hrrsadmin/admin-base.html' %}

{% block htmltitle %}后台管理{% endblock %}

{% block content %}
        <h1 class="page-header">欢迎，{{ request.user.nickname }}</h1>
        <p>上次登录： {{request.user.last_login}}</p>
        <p>用户角色： 
        {% if request.user.role == 'J' %}
            求职者
        {% elif request.user.role == 'A' %}
            管理员
        {% elif request.user.role == 'H' %}
            HR
        {% elif request.user.role == 'E' %}
            用人部门
        {% endif %}
        {% if request.user.is_superuser %} （超级管理员） {% endif %}
        </p>
        <p>常用功能：</p>
        <p><a class="btn btn-default" href="{% url 'news_board' %}">新闻动态管理</a></p>
        <p><a class="btn btn-default" href="{% url 'news_createnew' %}">新增新闻动态</a></p>
        <p><a class="btn btn-default" href="{% url 'jobs_board' %}">招聘岗位管理</a></p>
        <p><a class="btn btn-default" href="{% url 'jobs_createnew' %}">新增招聘岗位</a></p>
        <p><a class="btn btn-default" href="{% url 'users_admin_board' %}">用户管理</a></p>
        <p><a class="btn btn-default" href="{% url 'home' %}">返回网站首页</a></p>
{% endblock%}

{% block htmlfooterjs %}
    <script type="text/javascript">
        $(function () {
            $("#nav-admin-overview").addClass("active");
        });
    </script>
{% endblock %}