{% extends 'base.html' %}

{% block content %}

    <div class="index-body">
        <div class="index-bigbanner">
            <a href=""><img src="http://www.cnu.cc/uploads/banners/iVRC028CbxcFniguFGl3.jpg"></a>
        </div>
        <div class="index-entrance">
            <a href="">aaaa</a>
            <a href="">bbbbb</a>
            <a href="">cccc</a>
        </div>
        <div class="card">
            <h2>企业动态</h2>
            <div class="card-list">
                {% for article in article_list %}
                <a href="{% url 'news_show' article.pk %}">{{article.title}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="card">
            <h2>最新招聘</h2>
            <div class="card-list">
                {% for job in job_list %}
                <a href="{% url 'jobs_show' job.pk %}">{{job.name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}