{% extends 'base.html' %}

{% block title%}{{ resume.owner.nickname }}的{{ resume.job.name }}简历{% endblock %}

{% block htmlhead %}
<link rel="stylesheet" type="text/css" href="/static/css/markdown.css" />
<script src="/static/vuejs/vue.js"></script>
<script src="/static/axios/axios.min.js"></script>
{% endblock %}

{% block content %}
<div class="card">
    <h1>{{ resume.owner.nickname }} 的 {{ resume.job.name }} 简历</h1>
    <div class="card-content">
        <p>电子邮件： {{ resume.owner.email }}</p>
        <p>姓名： {{ resume.owner.nickname | default:'待补充' }}</p>
        <p>电话： {{ resume.owner.phone | default:'待补充' }}</p>
        <p>性别： {% if resume.owner.gender == 'M' %} 男 {% else %} 女 {% endif %}</p>
        <p>学历： {{ resume.degree }}</p>
        <p>毕业年份： {{ resume.graduationyear }}</p>
        <p>毕业院校： {{ resume.school }}</p>
        <p>毕业院系：{{ resume.faculty }}</p>
        <p>专业：{{ resume.subject }}</p>
        <p>项目经历：</p>
        <div class="markdown-body ">
            <blockquote>{{ resume.projexp | safe }}</blockquote>
        </div>
        <p>工作/实习经历：</p>
        <div class="markdown-body ">
            <blockquote>{{ resume.workexp | safe }}</blockquote>
        </div>
    </div>
    <div class="card-control">
            <a class="btn" href="{% url 'jobs_show' resume.job.pk %}">查看应聘岗位详情</a>
    </div>
</div>

{% verbatim %}
<div id="app-workflows-show" class="card">
    <h1>进度</h1>
    <div v-if="exists" class="card-content">
        <div v-for="workflow in workflows" class="card-workflows-item">
            <p><span>状态： </span>{{ workflow.status }}</p>
            <p><span>处理人： </span>{{ workflow.to_user }}</p>
            <p><span>时间： </span>{{ workflow.time }}</p>
            <p><span>详情： </span></p>
            <p>{{ workflow.comment }}</p>
        </div>
    </div>
    <div v-else class="card-content">
        <p>暂无进度</p>
    </div>
</div>
{% endverbatim %}

{% if is_manage %}
<div class="card">
    <h1>下一状态</h1>
    <div class="card-content">
        <div class="form-wrapper">
            <form method="post" action="{% url 'workflows_flow' resume.pk %}">
                {% csrf_token %}
                <div class="field-wrapper">
                    <label>状态：</label>
                    <input type="text" name="title" id="flow-title" value="" />
                    <p class="quick-completion">快捷填入： 
                        <a href="javascript: ChangeFlowTitle('审阅中');">审阅中</a>
                        <a href="javascript: ChangeFlowTitle('笔试');">笔试</a>
                        <a href="javascript: ChangeFlowTitle('面试');">面试</a>
                        <a href="javascript: ChangeFlowTitle('等待结果');">等待结果</a>
                        <a href="javascript: ChangeFlowTitle('已完成');">已完成</a>
                    </p>
                </div>
                <div class="field-wrapper">
                    <label>详情：</label>
                    <textarea rows="8" name="detail"></textarea>
                </div>
                <div class="field-wrapper">
                    <label>处理人：</label>
                    <select name="to_user_id">
                        <option value="{{ resume.owner.pk }}">求职者本人：{{ resume.owner.nickname }}</option>
                        {% for to_user in to_user_list %}
                        <option value="{{ to_user.pk }}">{{ to_user.nickname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="button-wrapper submit">
                    <input class="btn btn-green" type="submit" value="流转" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}


<script type="text/javascript">
    var app_workflows_show = new Vue({

        el: '#app-workflows-show',

        data: {
            exists: false,
            workflows: []
        },

        created: function () {
            this.fetchData();
        },

        methods: {

            fetchData: function () {
                var that = this;
                axios.get('{% url 'workflows_show' resume.pk %}')
                    .then(function (response) {
                        //console.log(response);
                        //console.log(response.data.exists);
                        //console.log(response.data.workflows);
                        if(response.data.exists){
                            that.exists = true;
                            for(var workflow in response.data.workflows) {
                                that.workflows.push(response.data.workflows[workflow]);
                            }
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }

        }
    });

    var ChangeFlowTitle=function(str){
        document.getElementById('flow-title').value=str;
    };

</script>
{% endblock %}