{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block htmlhead %}
<link rel="stylesheet" type="text/css" href="/static/css/markdown.css" />
{% endblock %}

{% block content %}
    <div class="card">
        <h1>{{ article.title }}</h1>
        <div class="markdown-body card-content">
            <p class="card-content-date">由 {{ article.createdby.nickname }} 于 {{ article.create_time | date:"Y年n月d日" }} 发布</p>
             <blockquote>摘要： {{ article.summary }}</blockquote>
            {{ article.content | safe }}
        </div>
    </div>
{% endblock %}