{% extends 'hrrsadmin/admin-base.html' %}

{% block htmltitle %}新闻动态管理{% endblock %}

{% block content %}
        <h1 class="page-header">新闻动态管理</h1>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>标题</th>
                  <th>创建人</th>
                  <th>创建日期</th>
                  <th>修改人</th>
                  <th>修改日期</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for article in article_list %}
                <tr>
                  <td>{{ article.pk }}</td>
                  <td>{{ article.title }}</td>
                  <td>{{ article.createdby.nickname }}</td>
                  <td>{{ article.create_time | date:"Y年n月d日" }}</td>
                  <td>{{ article.modifiedby.nickname }}</td>
                  <td>{{ article.modify_time | date:"Y年n月d日" }}</td>
                  <td><a href="{% url 'news_modify' article.pk %}">编辑</a> - <a href="{% url 'news_publish' article.pk %}">{% if article.published %}下架{% else %}发布{% endif %}</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock%}