{% extends 'base.html' %}

{% block title %}{{ job.name }}{% endblock %}

{% block htmlhead %}
<link rel="stylesheet" type="text/css" href="/static/css/markdown.css" />
{% endblock %}

{% block content %}
    <div class="card">
        <h1>{{ job.name }}</h1>
        <div class="markdown-body card-content">
             <blockquote><strong>{{ job.summary }}</strong></blockquote>
             <p class="card-content-date">由 {{ job.createdby.nickname }} 于 {{ job.create_time | date:"Y年n月d日" }} 发布</p>
            {{ job.description | safe }}
        </div>
        {% if request.user.is_authenticated %}
        <div class="card-control">
            <a class="btn btn-orange" href="{% url 'resumes_createnew' job.pk %}">投个简历</a>
        </div>
        {% endif %}
    </div>
{% endblock %}