* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 24px;
}

body {
    font-size: 24px;
    font-family: sans-serif;
    background: #f5f5f5;
}

a {
    text-decoration: none;
}

.btn {
    font-size: 0.8rem;
    padding: 12px 18px;
    color: #333;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.btn.btn-red {
    color: #fff;
    background: #d9534f;
    border-color: #d9534f;
}

.btn.btn-green {
    color: #fff;
    background: #5cb85c;
    border-color: #5cb85c;
}

.btn.btn-blue {
    color: #fff;
    background: #337ab7;
    border-color: #337ab7;
}

.btn.btn-orange {
    color: #fff;
    background: #f0ad4e;
    border-color: #f0ad4e;
}

.header {
    position: relative;
    overflow: hidden;
    background: #6cae2b;
    padding: 12px 10px;
}

.header a {
    color: #fff;
}

.header .header-logo {
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 100%;
}

.header .header-user {
    float: right;
    margin-top: 0.09rem;
    font-size: 0.85rem;
    line-height: 100%;
}

.header .header-user span {
    display: inline-block;
    margin: 0 0 0 8px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.footer {
    position: relative;
    overflow: hidden;
    padding: 8px 0 18px;
    text-align: center;
    font-size: 0.5rem;
    color: #666;
}

.footer p {
    padding: 5px 0;
}

.index-body {
    position: relative;
    overflow: hidden;
    max-width: 900px;
    margin: 0 auto;
}

.index-body .index-bigbanner {
    position: relative;
    overflow: hidden;
}

.index-body .index-bigbanner a {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: auto;
}

.index-body .index-bigbanner a img{
    width: 100%;
    height: auto;
}

.index-body .index-entrance {
    position: relative;
    overflow: hidden;
    margin: 0 0 10px ;
    padding: 10px;
    background: #fff;
    text-align: center;
}

.index-body .index-entrance a {
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    width: 33%;
    color: #333;
}

.index-body .index-entrance a img {
    display: block;
    margin: 5% 30%;
    width: 40%;
    height: auto;
}

.index-body .index-entrance a span {
    display: block;
    text-align: center;
    font-size: 0.8rem;
}

.card {
    position: relative;
    overflow: hidden;
    max-width: 900px;
    margin: 10px auto;
    padding: 10px;
    background: #fff;
}

.card h2,.card h1 {
    font-size: 0.9rem;
    font-weight: normal;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #eee;
}

.card .card-list {
    position: relative;
    overflow: hidden;
}

.card .card-list a {
    display: block;
    font-size: 0.7rem;
    padding: 2px;
    color: #666;
}

.card.card-news-body {
    position: relative;
    overflow: hidden;
}

.card.card-news-body a {
    display: block;
    font-size: 0.7rem;
    padding: 2px 5px 5px;
    color: #666;
}

.card.card-news-body a h2 {
    display: block;
    font-style: normal;
    font-size: 0.8rem;
    padding: 3px 0;
    color: #000;
}

.card.card-news-body a .card-news-summary {
    font-size: 0.6rem;
    color: #999;
}

.card.card-news-body a .card-news-summary span {
    color: #333;
}

.card.card-jobs-body {
    position: relative;
    overflow: hidden;
}

.card.card-jobs-body a {
    display: block;
    font-size: 0.7rem;
    padding: 2px 5px 5px;
    color: #666;
}

.card.card-jobs-body a h2 {
    display: block;
    font-style: normal;
    font-size: 0.8rem;
    padding: 3px 0;
    color: #000;
}

.card.card-jobs-body a .card-jobs-summary {
    font-size: 0.7rem;
    color: #666;
}

.card.card-jobs-body a .card-jobs-date {
    margin-top: 8px;
    font-size: 0.6rem;
    color: #999;
}

.card.card-resumes-body {
    position: relative;
    overflow: hidden;
}

.card.card-resumes-body a {
    display: block;
    font-size: 0.7rem;
    padding: 2px 5px 5px;
    color: #666;
}

.card.card-resumes-body a h2 {
    display: block;
    font-style: normal;
    font-size: 0.8rem;
    padding: 3px 0;
    color: #000;
}

.card.card-resumes-body a .card-resumes-info {
    font-size: 0.7rem;
    color: #666;
}

.card.card-resumes-body a .card-resumes-info p {
    padding: 3px 0;
}

.card.card-resumes-body a .card-resumes-info .card-resumes-info-jd {
    background: #f6f8fa;
    padding: 7px 5px 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    font-size: 0.55rem;
}

.card.card-resumes-body a .card-resumes-info .card-resumes-info-jd span {
    color: #2b579a;
}

.card.card-resumes-body a .card-resumes-info .card-resumes-date {
    margin: 8px 0 10px;
    font-size: 0.6rem;
    color: #999;
}

.card .card-workflows-item {
    background: #f6f8fa;
    padding: 7px 8px 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    font-size: 0.58rem;
}

.card .card-workflows-item p {
    padding: 2px 0;
}

.card .card-workflows-item span {
    color: #2b579a;
}

.card .card-content {
    font-size: 0.7rem;
    color: #333;
}

.card .card-content p {
    padding: 3px 0;
}

.card .card-content p.card-content-date {
    font-size: 0.6rem;
    text-align: center;
    color: #666;
}

.card .card-control {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #eee;
    text-align: center;
}

.card .card-control a {
    display: block;
}

.account {
    position: relative;
    overflow: hidden;
    padding: 10px 10px;
    width: 300px;
    margin: 30px auto 0;
    background: #fff;
}

.account.align-center p{
    margin-top: 8px;
    text-align: center;
}

.form-wrapper {
    position: relative;
    overflow: hidden;
}

.form-wrapper a {
    color: #333;
    font-size: 0.8rem;
}

.form-wrapper .field-wrapper {
    padding: 8px;
}

.form-wrapper .field-wrapper label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.form-wrapper .field-wrapper input {
    display: block;
    font-size: 0.8rem;
    padding: 5px;
    width: 270px;
    border: 1px solid #ccc;
}

.form-wrapper .field-wrapper textarea {
    display: block;
    font-size: 0.8rem;
    padding: 5px;
    width: 270px;
    border: 1px solid #ccc;
}

.form-wrapper .field-wrapper select {
    display: block;
    text-transform: none;
    font-size: 0.58rem;
    line-height: 100%;
    box-sizing: content-box;
    padding: 5px 5px 10px;
    width: 270px;
    border: 1px solid #ccc;
    background: #fff;
}

.form-wrapper .radio-wrapper {
    padding: 8px;
}

.form-wrapper .radio-wrapper .radio-name {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.form-wrapper .radio-wrapper label {
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.form-wrapper .button-wrapper {
    text-align: center;
    padding: 8px;
}

.form-wrapper .button-wrapper input {
    font-size: 0.9rem;
    padding: 8px 18px;
}

.form-wrapper p.quick-completion {
    font-size: 0.6rem;
    color: #2b579a;
    padding: 6px 0;
}

.form-wrapper .quick-completion a {
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 0.6rem;
    background: #f0f0f0;
    color: #666;
}

.tips {
    width: 300px;
    padding: 20px 10px;
    margin: 30px auto 10px;
    background: #fff;
}

.tips h1 {
    font-size: 1rem;
    margin-bottom: 8px;
    text-align: center;
}

.tips p {
    text-align: center;
    padding: 8px 5px;
    font-size: 0.8rem;
    color: #666;
}

.tips p a {
    text-decoration: underline;
    color: #666;
}